
POSTGRES_USER=user
POSTGRES_PASSWORD=your_strong_password_here
POSTGRES_DB=sentinel_core_db

DB_PORT=5432

# Cadena de conexión que consumirá la API de .NET.
# IMPORTANTE: El Host debe coincidir con el nombre del servicio en el docker-compose.yml
#ConnectionStrings__SentinelDb=Host=sentinel-db;Port=5432;Database=sentinel_core_db;Username=postgres;Password=your_strong_password_here